<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/template-persona-group.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Persona Group Report | 5</title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../style/style2.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <div class="row" >
                            <div class="col-4">
        
                                <div class="row">
                                    <div class="col-6"><img src="../images/logo.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../images/mock-logo.png" class="logo" alt=""></div>
                                </div>
        
                            </div>
        
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >ORGANISATION:</div>
                                            <div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
                                        </div>
                                    </div>
                
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >TEST DATE:</div>
                                            <div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        
                        <hr class="line-bl mt-3">
                    </div>
                </div>
</header>
    <!--Header End-->
	
	<!--Content-->
	<!-- InstanceBeginEditable name="ContentRegion" -->
	<div class="containerw mt-4">
        <div class="para-block1">
            <p class="text-justify">
                <strong class="heading-2"> HOW TO READ SCALED SCORES (SS): </strong><br>
                For ease of interpretation, the raw composite score on each scale has been 
                transformed into a standardised value called scaled score.
                A scaled score has a mean of 50 and a standard deviation of 10. 
            </p>
            <div class="score-category">
                <p class="caption">
                    <strong>Score Category</strong>
                    <div class="row">
                        <div class="col-3 low-sc ">Low=0-29</div>
                        <div class="col-3 med-sc ">Moderate=30-69</div>
                        <div class="col-3 high-sc ">High=70-100</div>
                    </div>
                </p>
            </div>
        </div>
    </div>

    
<div class="containerw mt-4">
    <table class="tbl" valign="center" style="width: 100%;">
        <thead class="tbl-head">
            <tr><div class="blank"></div></tr>
            <tr>
                <td rowspan="2">No.</td>
                <td rowspan="2">Name</td>
                <td rowspan="2">ID</td>
                <td rowspan="2">Gender</td>
                <td rowspan="2">Unit/Agency</td>
                <td colspan="15">Average Scaled Scores</td>
            </tr>
            <tr>
                <td >P1</td>
                <td >P2</td>
                <td >P3</td>
                <td >P4</td>
                <td >P5</td>
                <td >P6</td>
                <td >P7</td>
                <td >P8</td>
                <td >P9</td>
                <td >P10</td>
                <td >P11</td>
                <td >P12</td>
                <td >P13</td>
                <td >P14</td>
                <td >P15</td>
            </tr>
        </thead>
        <tbody class="tbl-body">
            <tr>
                <td>13</td>
                <td>Test User bint Test User 1</td>
                <td>A12345632112 </td>
                <td class="center">M</td>
                <td class="center">ABCDEF</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                
            </tr>
            <tr>
                <td>14</td>
                <td>Test User bint Test User 1</td>
                <td>A12345632112 </td>
                <td class="center">F</td>
                <td class="center">ABCDEF</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
               
            </tr>
            <tr>
                <td>15</td>
                <td>Test User bint Test User 1</td>
                <td>A12345632112 </td>
                <td class="center">M</td>
                <td class="center">ABCDEF</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">63</td>
                <td class="tbl-no ss">45</td>
                <td class="tbl-no aa">24</td>
                <td class="tbl-no ss">45</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="containerw mt-4 mb-5">
    <div class="row ml-1 equal" style="width: 100%;">
      <table class="col-4 tbl tbl-lgd">
        <tr class="">
          <td class="col-1 legend col-print-6">P1</td>
          <td class="col-11 text-uppercase col-print-10">Excitement</td>
        </tr>
        <tr>
          <td class="col-1 legend col-print-6">P2</td>
          <td class="col-11 text-uppercase col-print-10">Conceptual Thinking</td>
        </tr>
        <tr class="">
            <td class="col-1 legend col-print-6">P3</td>
            <td class="col-11 text-uppercase col-print-10">Flexibility</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P4</td>
            <td class="col-11 text-uppercase col-print-10">Power</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P5</td>
            <td class="col-11 text-uppercase col-print-10">Compassion</td>
          </tr>
      </table>
  
      <table class="col-4 tbl tbl-lgd">
        <tr class="">
          <td class="col-1 legend col-print-6">P6</td>
          <td class="col-11 text-uppercase col-print-10">Rules-Consciouness</td>
        </tr>
        <tr>
          <td class="col-1 legend col-print-6">P7</td>
          <td class="col-11 text-uppercase col-print-10">Warmth</td>
        </tr>
        <tr class="">
            <td class="col-1 legend col-print-6">P8</td>
            <td class="col-11 text-uppercase col-print-10">Self-Reliance</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P9</td>
            <td class="col-11 text-uppercase col-print-10">Reasoning</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P10</td>
            <td class="col-11 text-uppercase col-print-10">Ambiiton</td>
          </tr>
      </table>

      <table class="col-4 tbl tbl-lgd">
        <tr class="">
          <td class="col-1 legend col-print-6">P11</td>
          <td class="col-11 text-uppercase col-print-10">Self-Awareness</td>
        </tr>
        <tr>
          <td class="col-1 legend col-print-6">P12</td>
          <td class="col-11 text-uppercase col-print-10">Competitiveness</td>
        </tr>
        <tr class="">
            <td class="col-1 legend col-print-6">P13</td>
            <td class="col-11 text-uppercase col-print-10">Economic</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P14</td>
            <td class="col-11 text-uppercase col-print-10">Composure</td>
          </tr>
          <tr>
            <td class="col-1 legend col-print-6">P15</td>
            <td class="col-11 text-uppercase col-print-10">Positivity</td>
          </tr>
      </table>
    </div>
  </div>
	<!-- InstanceEndEditable -->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="pageNumber" --><span class="footer-text">5</span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- InstanceBeginEditable name="ScriptRegion" -->
<script>


</script><!-- InstanceEndEditable -->
	
</body>


<!-- InstanceEnd --></html>