<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/template-persona-group.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Persona Group Report | 4</title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <div class="row" >
                            <div class="col-4">
        
                                <div class="row">
                                    <div class="col-6"><img src="../images/logo.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../images/mock-logo.png" class="logo" alt=""></div>
                                </div>
        
                            </div>
        
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >ORGANISATION:</div>
                                            <div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
                                        </div>
                                    </div>
                
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >TEST DATE:</div>
                                            <div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        
                        <hr class="line-bl mt-3">
                    </div>
                </div>
</header>
    <!--Header End-->
	
	<!--Content-->
	<!-- InstanceBeginEditable name="ContentRegion" -->
	<div class="containerw">
        <h1 class="heading-1 text-uppercase mb-0"><strong>DEPARTMENTAL</strong> BReAKDOWN</h1>
        <div class="row mb-0 ">
            <div class="col-2 pr-0"><hr class="line-bl2 mb-0"></div>
        </div>
        <p class="para">The table below displays the scoring on each dimensions by department.</p>
    </div>
    <div class="containerw mt-4">
        <table class="department-tbl" id="dprtmnt-tbl">
            <thead>
                <tr >
                    <th class="tbl-left">DIMENSIONS</th>
                    <th>Unit A</th>
                    <th>Unit B</th>
                    <th>Unit C</th>
                    <th>Unit D</th>
                    <th>Unit E</th>
                    <th>Unit F</th>
                    <th>Unit G</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tbl-left">Excitement</td>
                    <td>50</td>
                    <td>39</td>
                    <td>76</td>
                    <td>43</td>
                    <td>96</td>
                    <td>23</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Conceptual Thinking</td>
                    <td>65</td>
                    <td>76</td>
                    <td>24</td>
                    <td>76</td>
                    <td>45</td>
                    <td>78</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td class="tbl-left">Flexibility</td>
                    <td>24</td>
                    <td>76</td>
                    <td>87</td>
                    <td>76</td>
                    <td>45</td>
                    <td>54</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Power</td>
                    <td>50</td>
                    <td>64</td>
                    <td>76</td>
                    <td>43</td>
                    <td>96</td>
                    <td>21</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Compassion</td>
                    <td>65</td>
                    <td>76</td>
                    <td>87</td>
                    <td>76</td>
                    <td>45</td>
                    <td>97</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td class="tbl-left">Rule-Consciouness</td>
                    <td>65</td>
                    <td>76</td>
                    <td>26</td>
                    <td>76</td>
                    <td>45</td>
                    <td>22</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td class="tbl-left">Self-Reliance</td>
                    <td>50</td>
                    <td>39</td>
                    <td>76</td>
                    <td>43</td>
                    <td>96</td>
                    <td>23</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Reasoning</td>
                    <td>65</td>
                    <td>76</td>
                    <td>24</td>
                    <td>76</td>
                    <td>45</td>
                    <td>78</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td class="tbl-left">Ambition</td>
                    <td>24</td>
                    <td>76</td>
                    <td>87</td>
                    <td>76</td>
                    <td>45</td>
                    <td>54</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Self-Awareness</td>
                    <td>50</td>
                    <td>64</td>
                    <td>76</td>
                    <td>43</td>
                    <td>96</td>
                    <td>21</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Competitiveness</td>
                    <td>65</td>
                    <td>76</td>
                    <td>87</td>
                    <td>76</td>
                    <td>45</td>
                    <td>97</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td class="tbl-left">Economic</td>
                    <td>65</td>
                    <td>76</td>
                    <td>26</td>
                    <td>76</td>
                    <td>45</td>
                    <td>22</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td class="tbl-left">Composure</td>
                    <td>50</td>
                    <td>64</td>
                    <td>76</td>
                    <td>43</td>
                    <td>96</td>
                    <td>21</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td class="tbl-left">Positivity</td>
                    <td>65</td>
                    <td>76</td>
                    <td>87</td>
                    <td>76</td>
                    <td>45</td>
                    <td>97</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="containerw mt-4">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <img src="../images/lowest.svg" alt="" class="score-range col-3 ">
                    <p class="caption col-9" style="text-align: center;">Low Score (0-29)</p>   
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <img src="../images/med.svg" alt="" class="score-range col-3 ">
                    <p class="caption col-9" style="text-align: center;">Moderate Score (30-69)</p>   
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <img src="../images/high.svg" alt="" class="score-range col-3 ">
                    <p class="caption col-9" style="text-align: center;">Highest Score (70-100)</p>   
                </div>
            </div>
        </div>
    </div>
	<!-- InstanceEndEditable -->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="pageNumber" --><span class="footer-text">4</span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- InstanceBeginEditable name="ScriptRegion" -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$("#dprtmnt-tbl td").each( function() {
         var thisCell = $(this);
         var cellValue = parseInt(thisCell.text());
    
         if (!isNaN(cellValue) && (cellValue >=70)) {
             thisCell.css("background-color","#DEEEE5");
          }
          
          if (!isNaN(cellValue) && (cellValue <=69)) {
             thisCell.css("background-color","#FBEED6");
          }
    
          if (!isNaN(cellValue) && (cellValue <=29)) {
             thisCell.css("background-color","#FCDAD3");
          }
        }
     )

</script><!-- InstanceEndEditable -->
	
</body>


<!-- InstanceEnd --></html>