<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/template-persona-group.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Persona Group Report | 2</title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <div class="row" >
                            <div class="col-4">
        
                                <div class="row">
                                    <div class="col-6"><img src="../images/logo.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../images/mock-logo.png" class="logo" alt=""></div>
                                </div>
        
                            </div>
        
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >ORGANISATION:</div>
                                            <div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
                                        </div>
                                    </div>
                
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >TEST DATE:</div>
                                            <div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        
                        <hr class="line-bl mt-3">
                    </div>
                </div>
</header>
    <!--Header End-->
	
	<!--Content-->
	<!-- InstanceBeginEditable name="ContentRegion" -->
	<!--Infographic-->
    <div class="containerw mt-4">
        <div class="border-info">
        </div>
            <div class="row"><div class="col-1"></div><div class="col-11"><div class="line-top"></div></div></div>
            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/warmth.svg" alt="" class="badge mt-2">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>warmth</strong></h4>
                    <p class="caption text-justify mt-0 mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/self-reliance.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>self-reliance</strong></h4>
                    <p class="caption text-justify mt-0 mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/reason.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>reasoning</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/ambiton.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>ambition</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/self-aware.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>self-awareness</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/comp.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>competitiveness</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/economic.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>economic</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="line-img"></div>
                    <img src="../images/icons/positvity.svg" alt="" class="badge mt-3">
                </div>
                <div class="col-10">
                    <h4 class="heading-1  text-uppercase mb-0"><strong>positivity</strong></h4>
                    <p class="caption text-justify mt-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididuntut labore et dolore magna aliqua. Auctor eu augue ut
                        lectus arcu bibendum at varius.Phasellus vestibulum lorem sed risus
                    </p>
                    <div class="line-right"></div>
                </div>
            </div>
            
            <div class="row"><div class="col-1"></div><div class="col-11"><div class="line-btm"></div></div></div>
        </div>
        <!--Infographic end-->
	<!-- InstanceEndEditable -->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="pageNumber" --><span class="footer-text">2</span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- InstanceBeginEditable name="ScriptRegion" -->
<script>


</script><!-- InstanceEndEditable -->
	
</body>


<!-- InstanceEnd --></html>