<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/template-persona-group.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Persona Group Report | 6</title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <div class="row" >
                            <div class="col-4">
        
                                <div class="row">
                                    <div class="col-6"><img src="../images/logo.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../images/mock-logo.png" class="logo" alt=""></div>
                                </div>
        
                            </div>
        
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >ORGANISATION:</div>
                                            <div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
                                        </div>
                                    </div>
                
                                    <div class="col-12">
                                        <div class="row mt-2">
                                            <div class="col-6 text-right" align="right" >TEST DATE:</div>
                                            <div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        
                        <hr class="line-bl mt-3">
                    </div>
                </div>
</header>
    <!--Header End-->
	
	<!--Content-->
	<!-- InstanceBeginEditable name="ContentRegion" -->
	<div class="containerw">
        <div class="row">
            <div class="col-4">
                <h2 class="heading2 red-ft text-uppercase" align="right">low scores</h2>
                <div class="row">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Seeking to act in a calm & controlled way.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Focus on functionality.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            High respect for structures, rules, hieracrhy, authority & traditions.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Seeking to act in a calm & controlled way.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Focus on functionality.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            High respect for structures, rules, hieracrhy, authority & traditions.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Seeking to act in a calm & controlled way.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Focus on functionality.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            High respect for structures, rules, hieracrhy, authority & traditions.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Seeking to act in a calm & controlled way.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Focus on functionality.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            High respect for structures, rules, hieracrhy, authority & traditions.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            Focus on functionality.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="red-block">
                        <img src="../images/icons/SVG/neg.svg" class="sc-icon mt-2" alt="">
                        <p class="caption text-right pt-0 mt-1" align="right">
                            High respect for structures, rules, hieracrhy, authority & traditions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h2 class="heading2 text-uppercase" align="center">SCALES</h2>
                <div class="white-block">
                    <div class="row desc-block">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>EXCITEMENT</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>CONCEPTUAL THINKING</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>FLEXIBILITY</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>POWER</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>COMPASSION</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>RULE-CONSCIOUNESS</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>SELF-RELIANCE</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>REASONING</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>AMBITION</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>SELF-AWARENESS</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>ECONOMIC</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>COMPOSURE</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>POSITIVITY</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row desc-block mt-1">
                        <div class="col-12">
                            <p class="caption text-uppercase mb-0 mt-3" align="center"><strong>EXCITEMENT</strong></p>
                            <p class="caption mt-0 pt-0" align="center">Turpis massa sed elementum tempus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h2 class="heading2 green-ft text-uppercase" align="left">high scores</h2>
                <div class="row">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Loves fun & seeks enjoyment.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Focus on innovation, creative, style & appearance.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Seeking to challenge the status quote & open to change.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Driving to take charge & make a difference.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Selfless & extends help to others.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Desires for clarity, order & predictability.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Seeking opportunities for social interactions & collaborations with people.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Demonstrates independent thinking & action.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Desire advanced techcnologies, curiosity, critical & logical analysis.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Set high performance standards & personal success.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Seeks to be truthful & honest.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Demonstrate interest in making money & seeking for business opportunities.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Stays calm under pressure.
                        </p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="green-block">
                        <img src="../images/icons/SVG/pos.svg" class="sc-icon2 mt-2" alt="">
                        <p class="caption text-left pt-0 mt-1" align="left">
                            Seeking for self-affirmation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- InstanceEndEditable -->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="pageNumber" --><span class="footer-text">6</span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- InstanceBeginEditable name="ScriptRegion" -->
<script>


</script><!-- InstanceEndEditable -->
	
</body>


<!-- InstanceEnd --></html>