<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Assessment Group Report Cover</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../style/cover.css">

</head>
<body>
    <div class="cover-logo">
        <div class="row">
            <div class="col-5">
                <img src="../images/logo.png" alt="" class="coverlogo">
            </div>
            <div class="col-2"><div class="vl"></div></div>
            <div class="col-5"><img src="../images/mock-logo.png" alt="" class="coverlogo"></div>
        </div>
    </div>

    <div class="row">
        <div class="b-bg col-6">
            <div class="info-sec">
                <h1 class="title-type text-uppercase">PERSONALITY ASSESSMENT GROUP REPORT</h1>
                <hr>
                <p class="info-type text-uppercase">WWWWWWWWWWW
                    WWWWWWWWWWW WWWWW
                    WWWWWW & WWW WWWWW</p>
            </div>
          </div>
          <div class="col-6">
            <h2 class="date-type text-uppercase">12 SEPTEMBER 2021</h2>
          </div>
    </div>

</body>
</html>